*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.direction_column{
    flex-direction: column;
}

/* utilities */

.container{
    width: 90%;
    margin: auto;
}

.max100{
    max-width: 100%;
}

.width50{
    width: 50%;

}

.m-top05{
    margin-top: 0.5rem;
}

.m-top1{
    margin-top: 1rem;
}

.m-top2{
    margin-top: 2rem;
}

.m-left1{
    margin-left: 1rem;
}

.m-left05{
    margin-left: 0.5rem;
}

.m-right05{
    margin-right: 0.5rem;
}

.m-right1{
    margin-right: 1rem;
}

.m-bottom05{
    margin-bottom: 0.5rem;
}

.m-auto{
    margin: auto;
}

.p-top05{
    padding-top: 0.5rem;
}


.justify_center{
    justify-content: center;
}

.align_center{
    align-items: center;
}

.display_none{
    display: none;
}

.white{
    color: white;
}

.font06{
    font-size: 0.6rem;
}

.font1_5{
    font-size: 1.5rem;
}

.width40{
    width: 40%;
}

.flex-wrap{
    flex-wrap: wrap;
}

.col_6{
    width: calc(100% / 12 * 6 - 1rem);
    height: 200px;
    background-color: red;
    border: 1px solid yellow;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

/* body */

.nav_item{
    text-decoration: none;
    color: gray;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.nav_ul{
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.top{
    background-color: #141922;
    height: calc(100vh - 70px);
}

.top > .sidebar{
    width: 70px;
    background-color: black;
    overflow: hidden;
}

.top .sidebar_top{
    height: calc(100% - 60px);
    background-color: black;

}

.top > .content{
    width: calc(100% - 70px);
    overflow-y: auto;
}


.upgrade_section{
    background-color: #080b1245;
    color: white;
    padding: 2rem;
    justify-content: flex-end;
}

.upgrade_now{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 0.75rem 0.25rem;
    border-radius: 30px;
}

.sidebar_top{
    align-items: center;
    justify-content: space-between;
   
}

.sidebar_bottom{
    background-color: black;
    margin-bottom: -3rem;
   
}

footer{
    background-color: blueviolet;
}

footer.bottom{
    height: 70px;
}

@media screen and (min-width:426px) {
    .top > .sidebar{
        width: 220px;
        background-color: black;
        overflow: hidden;
    }
    .width10{
        width: 10%;
    }
    .width20{
        width: 20%;
    }
    .width80{
        width: 80%;
    }
    .sidebar_top{
        align-items: flex-start;
    }
    .menu_icons{
        margin-left: 1rem;
        font-size: 0.8rem;
        padding-right: 0.5rem;
        
    }
    .justify_start{
        justify-content: flex-start;
    }
    .display_inline{
        display: inline-block;
        color: white;
    }
    .align_end{
        align-self: flex-end;
    }
    .display_none_lg{
        display: none;
    }
    .fa-square-plus{
        font-size: 2.75rem;
        color: gray;
    }
    .logo{
        justify-content: flex-start;
    }
    .home{
        justify-content: flex-start;
    }
    .search{
        justify-content: flex-start;
    }
    .libreria{
        justify-content: flex-start;
    }
    .playlist{
        overflow-y: auto;
    }
    .upgrade_now{
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 0.75rem 2rem;
        border-radius: 30px;
    }
    nav{
        justify-content: center;
    }
}

@media screen and (min-width:769px) {
    .top > .sidebar{
        width: 220px;
        background-color: black;
        overflow: hidden;
    }
    .width20{
        width: 20%;
    }
    .sidebar_top{
        align-items: flex-start;
    }
    .menu_icons{
        margin-left: 1rem;
    }
    .playlist{
        overflow-y: auto;
    }
    .upgrade_now{
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 0.75rem 2rem;
        border-radius: 30px;
    }
    nav{
        justify-content: center;
    }
    .col_3_md{
        width: calc(100% / 12 * 3 - 1rem);
    }
    .row{
        flex-wrap: wrap;
    }
    
}

@media screen and (min-width:1025px) {
    .top > .sidebar{
        width: 220px;
        background-color: black;
        overflow: hidden;
    }
    .width20{
        width: 20%;
    }
    .sidebar_top{
        align-items: flex-start;
    }
    .menu_icons{
        margin-left: 1rem;
    }
    .upgrade_now{
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 0.75rem 2rem;
        border-radius: 30px;
    }
    nav{
        justify-content: center;
    }
    .col_2_lg{
        width: calc(100% / 12 * 2);
    }
    .row{
        flex-wrap: nowrap;
    }
}


