*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.direction_column{
    flex-direction: column;
}

/* utilities */

.container{
    width: 90%;
    margin: auto;
}

.max100{
    max-width: 100%;
}

.width50{
    width: 50%;

}

.m-top05{
    margin-top: 0.5rem;
}

.m-top1{
    margin-top: 1rem;
}

.m-top2{
    margin-top: 2rem;
}

.m-left1{
    margin-left: 1rem;
}

.m-left05{
    margin-left: 0.5rem;
}

.m-right05{
    margin-right: 0.5rem;
}

.m-right1{
    margin-right: 1rem;
}

.m-bottom05{
    margin-bottom: 0.5rem;
}

.m-bottom1{
    margin-bottom: 1rem;
}

.m-auto{
    margin: auto;
}

.p-top05{
    padding-top: 0.5rem;
}

.padding1{
    padding: 1rem 0rem 1rem 1rem;
}

.justify_center{
    justify-content: center;
}

.align_center{
    align-items: center;
}

.display_none{
    display: none;
}

.white{
    color: white;
}

.gray{
    color: gray;
}

.font08{
    font-size: 0.8rem;
}

.font075{
    font-size: 0.75rem;
}

.font06{
    font-size: 0.6rem;
}

.font1_5{
    font-size: 1.5rem;
}

.font2{
    font-size: 2rem;
}

.width40{
    width: 40%;
}

.flex-wrap{
    flex-wrap: wrap;
}

.text_center{
    text-align: center;
}

.col_4{
    width: calc(100% / 12 * 4); 
}

.col_6{
    width: calc(100% / 12 * 6);
    padding: 0 10px;
    margin-top: 0.5rem;
}

.round{
    border-radius: 50%;
}

/* body */

.sidebar_icons:hover img,
.sidebar_icons:hover p {
  color: white;
}

.sidebar_icons:hover::before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background-color: #598128;
  position: absolute;
  left: 0;
  top: 0;
}

.sidebar_icons {
  position: relative;
  height: 50px;
}

.image-container {
    position: relative;
    display: inline-block;
  }
  
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
  
.play-button::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 25px;
    border-color: transparent transparent transparent #ffffff;
}
  
.image-container:hover .play-button {
    opacity: 1;
}

.nav_item{
    text-decoration: none;
    color: gray;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.nav_ul{
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.nav_item {
    position: relative;
}
  
.nav_item::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: green;
    transition: width 0.3s ease-in-out;
}
  
.nav_item:hover::after {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.top{
    background-color: #141922;
    height: calc(100vh - 70px);
}

.top > .sidebar{
    width: 70px;
    background-color: black;
    overflow: hidden;
}

.top .sidebar_top{
    height: calc(100% - 60px);
    background-color: black;

}

.top > .content{
    width: calc(100% - 70px);
    overflow-y: auto;
}


.upgrade_section{
    background-color: #080b1245;
    color: white;
    padding: 1.5rem;
    justify-content: flex-end;
}

.upgrade_now{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 0.75rem 0.25rem;
    border-radius: 30px;
}

.sidebar_top{
    align-items: center;
    justify-content: space-between;
   
}

.sidebar_bottom{
    background-color: black;
    margin-bottom: -3rem;
   
}

.new_playlist ul{
    list-style: none;
}

  

footer{
    background-color: #282828;
}

footer.bottom{
    height: 70px;
}

.player_top{
    align-items: center;
    margin-top: 0.5rem;
}

.player_top i{
    margin-right: 0.5rem
}


.center{
    justify-content: center;
}

.time_bar{
    width: 100%;
    margin: auto;
    height: 4px;
    background-color: gray;
}

.time_song{
    width: 30%;
    background-color: white;
    height: 4px;
}

.right{
    align-items: center;
    gap: 0.25rem;
    padding-right: 1rem;
}

.w40px{
   max-width: 100px;
   height: 4px;
   background-color: gray;
}

.row {margin: 0 -5px;}


@media screen and (min-width:426px) {
    .top > .sidebar{
        width: 220px;
        background-color: black;
        overflow: hidden;
    }
    .width10{
        width: 10%;
    }
    .width20{
        width: 20%;
    }
    .width80{
        width: 80%;
    }
    .sidebar_top{
        align-items: flex-start;
    }
    .menu_icons{
        margin-left: 1rem;
        font-size: 0.8rem;
        padding-right: 0.5rem;
        
    }
    .sidebar_icons:hover img,
    .sidebar_icons:hover p {
        color: white;
        filter: none;
    }
    .sidebar_icons:hover::before {
        content: "";
        display: block;
        width: 2px;
        height: 100%;
        background-color: green;
        position: absolute;
        left: 0;
        top: 0;
    }
    #logo_big{
        filter: none;
    }
    .sidebar_icons {
        position: relative;
        height: 50px;
    }
   
    .justify_start{
        justify-content: flex-start;
    }
    .display_inline{
        display: inline-block;
        color: gray;
    }
    .align_end{
        align-self: flex-end;
    }
    .display_none_lg{
        display: none;
    }
    .fa-square-plus{
        font-size: 2.75rem;
        color: gray;
    }
    .logo{
        justify-content: flex-start;
    }
    .home{
        justify-content: flex-start;
    }
    .search{
        justify-content: flex-start;
    }
    .libreria{
        justify-content: flex-start;
    }
    .playlist{
        overflow-y: auto;
    }
    .upgrade_now{
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 0.75rem 2rem;
        border-radius: 30px;
    }
    nav{
        justify-content: center;
    }
    .download{
        justify-content: flex-start;
    }
    .padding05{
        padding: 0.5rem;
    }
    .sinister_h4{
        font-size: 1rem;
    }
    .footer_p{
        font-size: 0.6rem;
    }
    .footer_icons{
        justify-content: flex-start;
    }
    
    .time{
        font-size: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .right{
        justify-content: flex-end;
    }
    .sidebar_top img{
        filter: opacity(0.5);
    }
}

@media screen and (min-width:769px) {
    .top > .sidebar{
        width: 220px;
        background-color: black;
        overflow: hidden;
    }
    .width20{
        width: 20%;
    }
    .sidebar_top{
        align-items: flex-start;
    }
    .menu_icons{
        margin-left: 1rem;
        filter: ;
    }
    .playlist{
        overflow-y: auto;
    }
    .upgrade_now{
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 0.75rem 2rem;
        border-radius: 30px;
    }
    nav{
        justify-content: center;
        margin-bottom: 2rem;
    }
    .nav_item{
        font-size: 0.75rem;
    }
    .col_3_md{
        width: calc(100% / 12 * 3);
        padding: 0 10px;
    }
    .row{
        flex-wrap: wrap;
    }
    .footer_icons{
        justify-content: center;
    }
    .fa-circle-play{
        font-size: 2.5rem;
    }
    .player_top i{
        margin-right: 2rem;
        margin-left: 2rem;
        font-size: 1.5rem;
    }
    .sinister_h4{
        font-size: 1.5rem;
    }
    .footer_p{
        font-size: 0.9rem;
    }
    .footer_icons{
        justify-content: center;
        flex-direction: row;
        align-items: center;
        margin-left: 0.5rem;
    }
    .fa-heart{
        margin:auto
    }
    
}

@media screen and (min-width:1025px) {
    .top > .sidebar{
        width: 220px;
        background-color: black;
        overflow: hidden;
    }
    .width20{
        width: 20%;
    }
    .sidebar_top{
        align-items: flex-start;
    }
    .menu_icons{
        margin-left: 1rem;
    }
    .upgrade_now{
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 0.75rem 2rem;
        border-radius: 30px;
    }
    nav{
        justify-content: center;
    }
    .col_2_lg{
        width: calc(100% / 12 * 2);
    }
    .row{
        flex-wrap: nowrap;
    }
    .footer_icons{
        justify-content: center;
    }
    .player_top i{
        margin-right: 2rem;
        margin-left: 2rem;
        font-size: 1.5rem;
    }
}


